.git/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
__pycache__/
tests/
*.py[cod]
*.log
uvicorn.*.log

.env
.env.*
config/*.json
!config/*.example.json

data/generated/
models/
